*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

#hero{
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1{
    font-size: 3rem;
    font-family: "Nunito", sans-serif;
}

#form{
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#quiz-container{
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.question{
    margin-bottom: 10px;
}

.answer{
    margin-bottom: 5px;
}